:host {
  .wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
  }
  .main {
    display: grid;
    grid-template-columns: minmax(150px, 300px) 1fr;
  }
  main {
    padding: 2rem;
  }
}
