<div class="wrapper">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="main">
        <app-sidebar></app-sidebar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
    <app-footer></app-footer>
</div>
