<p-card [header]="title" >
    <div class="flex flex-row gap-3 mb-2">
        <p-button icon="pi pi-user-plus" (onClick)="onNew()" title="Nuevo" label="Nuevo"></p-button>
        <p-button icon="pi pi-search" (onClick)="onSearch()" title="Buscar" label="Buscar"></p-button>
    </div>
    <p-progressBar *ngIf="loadingAlumno$ | async" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    <p-table [value]="sourceAlumno" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Doc. Identidad</th>
                <th>Sexo</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alumno>
            <tr>
                <td>{{ alumno.nombres }}</td>
                <td>{{ alumno.apellidos }}</td>
                <td>{{ alumno.numeroDocumento }}</td>
                <td>{{ alumno.sexo }}</td>
                <td>
                    <p-button icon="pi pi-user-edit" (onClick)="onEdit(alumno)" [rounded]="true" [text]="true" title="Editar"></p-button>
                    <p-button icon="pi pi-user-minus" (onClick)="onDelete(alumno)" [rounded]="true" [text]="true" title="Eliminar"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>