
<p-card styleClass="alumno-form" class="flex justify-content-start">
    <form [formGroup]="alumnoform" (ngSubmit)="addAlumno()" novalidate>
        <div class="flex flex-row align-items-stretch row-gap-5 column-gap-5 flex-wrap">
            <div>
                <div class="field">
                    <span class="p-float-label">
                        <input type="text" class="p-inputtext mb-2" pInputText formControlName="nombres" />
                        <label for="nombres" class="block">Nombres</label>
                    </span>
                    <small class="p-error block" 
                        *ngIf="alumnoform.get('nombres')?.invalid && alumnoform.get('nombres')?.dirty"
                        >
                        El campo es requerido {{ alumnoform.get('nombres') }}
                    </small>
                    
                </div>
                <div class="field">
                    <span class="p-float-label">
                        <input type="text" class="p-inputtext mb-2" pInputText formControlName="apellidos" />
                        <label for="apellidos" class="block">Apellidos</label>
                    </span>
                    <small class="p-error block" 
                        *ngIf="alumnoform.get('apellidos')?.invalid && alumnoform.get('apellidos')?.dirty"
                        >
                        El campo es requerido
                    </small>
                </div>
                <div class="field flex flex-row gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton name="sexo" value="MASCULINO" formControlName="sexo" inputId="sexo_m"></p-radioButton>
                        <label for="sexo_m" class="ml-2">Masculino</label>
                    </div>
                    
                    <div class="flex align-items-center">
                        <p-radioButton name="sexo" value="FEMENINO" formControlName="sexo" inputId="sexo_f"></p-radioButton>
                        <label for="sexo_f" class="ml-2">Femenino</label>
                    </div>
                </div>
            </div>
            <div class="usuario-imagen flex flex-column">
                <img src="" />
                <!-- <p-fileUpload mode="basic" class="w-full" chooseLabel="Seleccionar" name="imagen" url="https://www.primefaces.org/cdn/api/upload.php" accept=".png,.jpeg" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload> -->
            </div>
        </div>

        <hr class="mt-3 mb-4" />

        <div class="flex flex-column align-items-stretch gap-1 flex-wrap">
            <div class="field flex flex-row flex-wrap gap-3">
                <div class="field flex-grow-1">
                    <span class="p-float-label">
                        <p-dropdown [options]="(lstTipoDocIdentidad$ | async) ?? []" formControlName="idTipoDocumento" optionLabel="tipoDocumento" optionValue="idTipoDocumento" value="1" id="tipo_documento" [showClear]="false"></p-dropdown>
                        <label for="tipo_documento" class="block">Tipo de Documento</label>
                    </span>
                </div>
                <div class="field">
                    <span class="p-float-label">
                        <input type="text" name="numero_documento" class="p-inputtext" pInputText formControlName="numeroDocumento" />
                        <label for="email" class="block">Doc. Identidad</label>
                    </span>
                    <small class="p-error block" 
                        *ngIf="alumnoform.get('numero_documento')?.invalid && alumnoform.get('numero_documento')?.dirty"
                        >
                        El campo es requerido {{ alumnoform.get('numero_documento') }}
                    </small>
                </div>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <input type="text" class="p-inputtext" pInputText id="email" formControlName="email" />
                    <label for="email" class="block">Email</label>
                </span>
                <small class="p-error block" 
                    *ngIf="alumnoform.get('email')?.invalid && alumnoform.get('email')?.dirty"
                    >
                    El campo es requerido {{ alumnoform.get('email') }}
                </small>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <p-autoComplete formControlName="nacionalidad" [suggestions]="lstNacionalidadesFilter" (completeMethod)="filterCountry($event)" id="nacionalidad"></p-autoComplete>
                    <label for="nacionalidad" class="block">Nacionalidad</label>
                </span>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <p-calendar name="fec_nacimiento" dateFormat="dd/mm/yy"  formControlName="fecNacimiento"></p-calendar>
                    <label for="fec_nacimiento" class="block">Fecha de nacimiento</label>
                </span>
                <small class="p-error block" 
                    *ngIf="alumnoform.get('fec_nacimiento')?.invalid && alumnoform.get('fec_nacimiento')?.dirty"
                    >
                    El campo es requerido {{ alumnoform.get('fec_nacimiento') }}
                </small>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <input type="text" class="p-inputtext w-auto" pInputText id="telefono" formControlName="telefono" />
                    <label for="telefono" class="block">Telefono</label>
                </span>
                <small class="p-error block" 
                    *ngIf="alumnoform.get('telefono')?.invalid && alumnoform.get('telefono')?.dirty"
                    >
                    El campo es requerido {{ alumnoform.get('telefono') }}
                </small>
            </div>
        </div>
        
        <button pButton type="submit" label="Guardar" [disabled]="alumnoform.invalid || (loading$ | async)"></button>
        <p-progressBar *ngIf="loading$ | async" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </form>
</p-card>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
