:host ::ng-deep {
    .p-inputtext,
    .p-dropdown
    {
       width: 100%;
    }   
}

:host {
    .usuario-imagen {
        width: 200px;
        
        img {
            width: 100%;
            height: 100%;
            border: 1px solid var(--gray-300);
            border-radius: 0.5rem;
            background: var(--gray-200);
        }
    }
    .alumno-form {
        width: 50%;
    }

}